#contacts-content {
    width: 70vw;
    margin: auto;
    margin-top: 50px;
}

#contacts-form {
    display: flex;
    flex-direction: column;
    border: 1px solid white;
    padding: 20px;
}

    #contacts-form label {
        height: 35px;
        line-height: 35px;
        margin-right: 20px;
        font-family: inherit;
        font-size: 18px;
    }

    #contacts-form input,
    #contacts-form textarea {
        width: 100%;
        font-family: inherit;
        font-size: 16px;
        border-radius: 0.3rem;
    }

#sender-email {
    height: 35px;
}

#sender-message {
    height: 350px;
}

#contacts-send {
    width: 100%;
    margin-top: 15px;
    height: 35px;
    line-height: 35px;
    cursor: pointer;
    border: none;
    background-color: transparent;
    color: #fff;
    text-align: center;
    font-family: inherit;
    font-size: 1.4rem;
}

    #contacts-send:hover {
        color: #16d9e3;
    }
