@{
    ViewData["Title"] = "Рецептовоз";
}

<link rel="stylesheet" href="~/css/main.css" type="text/css" />

<div class="content-div" id="main-page-content">
    <p><h1>Добро пожаловать на сайт "Рецептовоз"</h1></p>

    <p>
        На этом сайте вы сможете найти рецепты наиболее популярных блюд
        разной сложности. Каждый рецепт содержит пошаговую
        инструкцию с картинками, так что вы сможете приготовить
        задуманное блюдо, даже не имея особого опыта в кулинарии.
    </p>

    <p>
        Для просмотра всех рецептов или поиска какого-то конкретного
        вы можете перейти на вкладку "Рецепты" в верхнем меню. Для
        удобства вы можете отфильтровать их и по содержащимся в них
        ингредиентах и по типу блюда. Так, например, вы можете найти
        рецепты салатов с курицей.
    </p>

    <p>
        Также, если вам интересно, вы можете посмотреть кулинарные
        новости, перейдя на соответствующую вкладку в меню сверху.
    </p>
</div>